body {
    background: lightskyblue;
}
canvas {
    border: solid 5px teal;
    background-color: lightgreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

