body {
    background: lightskyblue;
}
canvas {
    border: solid 5px teal;
    background-color: lightgreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
span {
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic ;
    color: darkgreen;
}
